<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        <h2>We'll be right back</h2>
        <p>The site is currently being updated.</p>

    </body>
</html>